

h1{
    font-size: 24px;
}
@media only screen and (min-width: 700px){
    div{
        height: 80px;
        background-color: pink;

    }
}
.MENU{
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}